* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "JetBrains Mono", monospace;
    background-color: #111414;
    color: white;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

#window {
    position: absolute;
    width: 700px;
    height: 450px;
    background-color: #1f1f1f;
    border-radius: 0 0 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

    display: flex;
    flex-direction: column;
}

.titlebar {
    display: flex;
    background-color: #414141;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.titlebar .action-buttons {
    display: flex;
    gap: 5px;
}

.action-buttons div {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    z-index: 100;
    cursor: pointer;
}

.action-buttons div.red {
    background-color: #f5544d;
}
.action-buttons div.yellow {
    background-color: #fabd2f;
}
.action-buttons div.green {
    background-color: #47d043;
}

.titlebar a {
    display: inline-block;
    flex: 1;
    color: #9c9c9c;
    text-align: center;
    text-decoration: none;
    margin-left: -30px;
    font-size: 14px;
    font-weight: 600;
}

#terminal {
    padding: 10px;
    max-height: 100%;
    overflow-y: scroll;
}

#terminal::-webkit-scrollbar {
    width: 5px;
}

#terminal::-webkit-scrollbar-track {
    background-color: rgba(169, 169, 169, 0.144);
}

#terminal::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 100px;
    cursor: pointer;
}

.general-output {
    color: #a9b1d6;
    font-weight: 400;
}

.welcome {
    margin-top: 10px;
}

.prompt-container {
    padding: 10px;
}

.prompt-container.prompt-history {
    margin-top: 10px;
}

#prompt {
    color: #58d786;
}

#command-input {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;

    caret-color: #47d043;
    caret-shape: block;

    font-family: inherit;
    font-size: 16px;
}

.hidden {
    display: none;
}

.prompt-result {
    margin-top: 10px;
}

.prompt-result.success {
    color: white;
}

.prompt-result.error {
    color: crimson;
}

a {
    color: white;
    text-decoration: none;
    color: #a9b1d6;
}
